@layer rc-theme-material.components {
  :where(.rc-theme-material, :host(.rc-theme-material)) rc-fab > button:hover {
    background: color-mix(
      in srgb,
      var(--md-fab-hover-icon-color, var(--md-sys-color-on-primary-container, ButtonText)) 8%,
      var(--rc-fab-bg, var(--md-sys-color-primary-container, ButtonFace))
    );
  }

  :where(.rc-theme-material, :host(.rc-theme-material)) rc-fab > button:active {
    background: color-mix(
      in srgb,
      var(--md-fab-pressed-icon-color, var(--md-sys-color-on-primary-container, ButtonText)) 12%,
      var(--rc-fab-bg, var(--md-sys-color-primary-container, ButtonFace))
    );
  }

  :where(.rc-theme-material, :host(.rc-theme-material)) rc-fab.rc-fab--small {
    --rc-fab-size: 2.5rem;
    --rc-fab-radius: var(
      --md-fab-small-container-shape,
      var(--md-sys-shape-corner-medium, 0.75rem)
    );
  }

  :where(.rc-theme-material, :host(.rc-theme-material)) rc-fab.rc-fab--large {
    --rc-fab-size: 6rem;
    --rc-fab-radius: var(
      --md-fab-large-container-shape,
      var(--md-sys-shape-corner-extra-large, 1.75rem)
    );
  }
}
